.list {
  list-style-position: outside;
  list-style: none;
  text-align: left;
  font-size: 0.7em;
}
.list td {
  font-size: 2em;
}
.list td input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  width: 100%;
}
