output, .potential-out{
    color:red;
}
@font-face {
    font-family: 'Kroftsmann';
    src: url('/Fonts/Kroftsmann.ttf');
    font-weight: normal;
    font-style: normal;
}

.potential-out{
    font-size: 2em;
}

.up-down button{
    float: left;
    text-align: left;
    padding:none;
    border: 2px black;
}

input{
    width:2em;
    font-size:1.5em;
    font-family: Kroftsmann;
    border: inset;
}

.potential{
    color:green;
    font-size: 1.5em;
}

.section{
    width: 120px;
    padding: 20px;
    margin: auto;
    display: inline-block;
}
