h1 {
  margin: 0;
}
.test {
  user-select: none;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  border: 1px solid white;
}
.test:hover {
  border-color: grey;
}
.test:active {
  background-color: red;
}
.test.selected {
  background-color: green;
}
table {
  border-collapse: collapse;
  margin: auto;
  padding: auto;
}
table tr,
table td {
  margin: 0;
  padding: 0;
  line-height: 0.9em;
}
table img {
  width: 24px;
  height: 24px;
  margin: none;
  padding: none;
}
table .table-leg {
  width: 50%;
  display: inline-block;
}
table h4 {
  margin-bottom: 0;
  margin-top: 5px;
}
.health-table {
  border-collapse: collapse;
}
.health-table tr,
.health-table td {
  margin: 0;
  padding: 0;
  line-height: 0px;
}
.health-table td {
  border: 1px solid black;
}
